.mx1{
    margin-left: 10px;
    margin-right: 10px;
}
.my1{
    margin-top: 10px;
    margin-bottom: 10px;
}
.mx2{
    margin-left: 20px;
    margin-right: 20px;
}
.my2{
    margin-top: 20px;
    margin-bottom: 20px;
}

.px1{
    padding-left: 10px;
    padding-right: 10px;
}
.py1{
    padding-top: 10px;
    padding-bottom: 10px;
}.px2{
    padding-left: 20px;
    padding-right: 20px;
}
.py2{
    padding-top: 20px;
    padding-bottom: 20px;
}

.flex{
    display: flex;
}
.justifycenter{
    justify-content: center;
}
.aligncenter{
    align-items: center;
}
.center{
    text-align: center;
}